---
layout: default
permalink: /projects/index.html
title: Projects
---
{% include header.html %}

<section class="list">
            <section class="list">
                <div class="item ">
                    <a class="url" href="http://annalizhaz.pythonanywhere.com/cityfinderapp/">
                        <h3 class="title">Cityfinder</h3> </a>
                </div>
                <div class="item ">
                    <a class="url" href="https://github.com/danilito19/how">
                        <h3 class="title">how - home or work? </h3> </a>
                </div>
                <div class="item ">
                    <a class="url" href="https://github.com/danilito19/twitterdetective">
                        <h3 class="title">twitterdetective</h3> </a>
                </div>
                <div class="item ">
                    <a class="url" href="https://github.com/danilito19/big-songs">
                        <h3 class="title">big songs</h3> </a>
                </div>

</section>

{% include footer.html %}
