---
layout: default
permalink: /projects/index.html
title: Projects
---
{% include header.html %}

<section class="list">
            <section class="list">
                <div class="item ">
                    <a class="url" href="http://cityfinderapp.herokuapp.com/cityfinderapp/">
                        <h3 class="title">Cityfinder</h3> </a>
                </div>
                                <div class="item ">
                    <a class="url" href="https://github.com/danilito19/how">
                        <h3 class="title">how - home or work? </h3> </a>
                </div>

</section>

{% include footer.html %}
